*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;   
}

body{
    background-color: beige;
}
main h1 {
	color: rgb(28, 0, 189);
	font-family: 'Courier New', Courier, monospace;
	font-size: 100px;
	text-align: center;
	margin: 0%;
	padding: 0%;
}
.TextoPrinciapl{
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;    
}
.TextoPrinciapl h2{
    color: rgb(255, 12, 12);
	font-size: 28px;
	text-align: center;
	margin: 0%;
	padding: 0%;
}
.TextoPrinciapl img{
    width: 80%;
    height: auto;
    text-align: center;
}
.TextoPrinciapl video{
    width: 20%;
    height: auto;
    text-align: center;
}

.Slider{   
    display: flex;
    width: 1000px;
    height: 500px;    
}

.Slider video{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: 1s ease; /*es para las transiciones*/
    opacity: .8;
}

.Slider video:hover{
   cursor:crosshair;
   width: 500px;
   opacity: 1;
   filter: contrast(120%);
}

.PiePagina footer {
	text-align: center;
	font: 1em sans-serif;
	font-size: 20px;
	padding: auto;
	margin-top: 30px;
	background-color: rgb(179, 19, 19);
}

